.nav{
    display:flex;
    flex-direction: row;
    height:10vh;
    width:100%;
    background-color: black;
    color:white;
    align-items: center;
    border-radius:10px
   

  }




  .main{
    display: flex;
    width:40%;
    justify-content: space-evenly;
  }
  .last{
    display: flex;
    width:60%;
    justify-content: flex-end;
  }

  .primary{
    background-color: black;
    
}
.secondary{
    background-color:mediumblue;
}
